@import url('./shared/css-variables/variables.css');

@font-face {
  font-family: 'BonaNova';
  src: url('./shared/ui/fonts/BonaNova-Regular.woff2') format('woff2'),
       url('./shared/ui/fonts/BonaNova-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BonaNova';
  color: var(--bg-body-dark-color);
}

.img {
  height: 100%;
  width: 100%;
}



