.carousel {
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel__cards_wrapper {
  display: flex;
  gap: 16px;
  position: absolute;
  left: 0;
  transition: left 1s;
}

.carousel__dots_wrapper {
  display: flex;
  gap: 19px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-top: 80px;
}
