@import url('../../css-variables/variables.css');

.carousel_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.carousel_card__shopping_cart_button {
  position: absolute;
  right: 0;
  top: 0;
  /* top: -3; */
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: var(--border-color);
}

.carousel_card__text {
  text-align: center;
}
