.pageLoaderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pageLoader {
  width: 50%;
  height: 50%;
}
